bin
obj
.vscode
.vs
obj/BlazorApp.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/BlazorApp.assets.cache
obj/Debug/net6.0/BlazorApp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/BlazorApp.csproj.FileListAbsolute.txt
obj/Debug/net6.0/BlazorApp.dll
obj/Debug/net6.0/BlazorApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/BlazorApp.genruntimeconfig.cache
obj/Debug/net6.0/BlazorApp.pdb
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/ref/BlazorApp.dll
obj/Debug/net6.0/refint/BlazorApp.dll
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/BlazorApp.deps.json
bin/Debug/net6.0/BlazorApp.dll
bin/Debug/net6.0/BlazorApp.pdb
bin/Debug/net6.0/BlazorApp.runtimeconfig.json
obj/Debug/net6.0/BlazorApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/project.razor.json
