@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="20"/>
<link rel="stylesheet" href="mycss/registerStyle.css">

<style>
    .card{
        width: 500px;
    }
    #ocupations{
        width: 150px;
    }
    #search{
        height: 35px;
        width:80px;
    }
</style>

<div class="card">
  <div class="card-header">
    <h1>Registro de ocupaciones</h1>
  </div>

  <div class="card-body">
    <label class="form-label">Ocupación</label>
    <input type="text" id="ocupations" class="form-control" >
    <button id="search" class="btn btn-info">Buscar</button><br>
    <label class="form-label">Descripción</label>
    <input type="text" class="form-control" >
  </div>

 <div class="card-footer">
    <button type="button" class="btn btn-primary">Nuevo</button>
    <button type="button" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-danger">Eliminar</button> 
  </div>
</div>