@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="20"/>

<style>
    table, th, td
    {
        border: 0.5px solid black;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
    }
</style>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Jasson</td>
        <td>Tejada</td>
        <td>email@email.com</td>
    </tr>

    <tr>
        <td>Jasson</td>
        <td>Tejada</td>
        <td>email@email.com</td>
    </tr>

    <tr>
        <td>Jasson</td>
        <td>Tejada</td>
        <td>email@email.com</td>
    </tr>
</table>