@page "/People"

<h3>Registre</h3>

@inject PersonBLL PersonBLL
@inject OcupationsBLL OcupationsBLL

<style>
    .card{
        width: 500px;
    }
    #search{
        height: 35px;
        width:80px;
    }
    .occupation-body {
        display: flex;
    }
</style>

<EditForm Model="person" OnInvalidSubmit="Save">
    <div class="card">
        <div class="card-header">
            <h1>Registro de personas</h1>
        </div>

        <div class="card-body">
            <label class="form-label">PersonaID</label>
            <div class="occupation-body">
                <InputNumber @bind-Value="person.personID" class="form-control" />
                <button id="search" class="btn btn-info" @onclick="Search">Buscar</button><br>
            </div>
            <label class="form-label">Nombres</label>
            <InputText @bind-Value="person.name" class="form-control" />
            <label class="form-label">Dirección</label>
            <InputText @bind-Value="person.direction" class="form-control" />
            <label class="form-label">Email</label>
            <InputText @bind-Value="person.email" type="text" class="form-control" />
            <label class="form-label">Fecha de nacimiento</label>
            <InputDate @bind-Value="person.dateBirth" class="form-control" />
            <label class="form-label">Teléfono</label>
            <InputText @bind-Value="person.phoneNumber" class="form-control" />
            <label class="form-label">Celular</label>
            <InputText @bind-Value="person.cellphoneNumber" class="form-control" />
            <label class="form-label">Balance</label>
            <InputNumber @bind-Value="person.balance" class="form-control" />
            <label class="form-label">Ocupaciones</label>
            <InputSelect @bind-Value="person.occupationID" class="form-control">
                @foreach (var ocupation in occupationList)
                {
                    <option value="@ocupation.OcupationId">@ocupation.OcupationId- @ocupation.Description</option>
                }
            </InputSelect>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="New">Nuevo</button>
            <button type="button" class="btn btn-success" @onclick="Save">Guardar</button>
            <button type="button" class="btn btn-danger" @onclick="Delete">Eliminar</button> 
        </div>
    </div>
</EditForm>
@code
{
    [Parameter]
    public int personID { get; set; }
    public int occupationID { get; set; }
    public Person person { get; set; } = new Person();
    public Ocupations ocupation { get; set; } = new Ocupations();

    public List<Ocupations> occupationList { get; set; } = new List<Ocupations>();
        protected override void OnInitialized()
        {
            person.occupationID = personID;
            ocupation.OcupationId = occupationID;
            occupationList = OcupationsBLL.GetList(p => true); 
            Search();
            if(personID > 0)
            {
                this.person.personID = personID;
                this.Search();
            }
        }
        void Search()
        {
            var personFound = PersonBLL.Search(person.personID);
            if(personFound != null)
            {
                this.person = personFound;
            }
        }

        void New()
        {
            this.person = new Person();
        }

        void Save()
        {
            if(!Validate())
            {
                return;
            }
            if(PersonBLL.Save(this.person))
                this.New();
        }

        bool Validate()
        {
            if(String.IsNullOrEmpty(person.name))
                return false;
            else
                return true;
        }
        void Delete()
        {
            if(PersonBLL.Delete(person))
                this.New();
        }
}